<a href="https://colab.research.google.com/github/dkuzzmin/DI-Bootcamp/blob/main/Week4/Day4/Day4_XC_XP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercises from day learning**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('electronics.csv')
df

FileNotFoundError: ignored

Remove years from warranty column - make it an integer, to allow us to graph/measure the data in that column.

Fill in missing prices based on similar/identical products (Product and Price)

Maybe find missing ages based on Name of customer. If not, fill with median age.

(Potentially drop rows with missing names. Based on the specific)

Fill in missing waranties with 0.

In [ ]:
# for i in range(len(df)):
#     # print(df.iloc[i]['Warranty'])
#    if type(df.iloc[i]['Warranty']) == str:
#       df.iloc[i]['Warranty'] = df.iloc[i]['Warranty'].replace(' years','')
#    if type(df.iloc[i]['Warranty']) == str:
#       df.iloc[i]['Warranty'] = df.iloc[i]['Warranty'].replace(' year','')

df["Warranty"] = df["Warranty"].str.replace(' years','')
df["Warranty"] = df["Warranty"].str.replace(' year','')
df

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
0,0,James Wilson,21.0,E-reader,250,2022-02-10,3
1,1,Margaret King,59.0,Camera,700,2022-03-22,NaN
2,2,David Walker,53.0,Laptop,800,2022-09-06,2
3,3,James Wilson,65.0,Camera,700,2022-02-22,2
4,4,Joseph Hall,63.0,Headphones,100,2022-12-14,NaN
5,5,Emily Davis,50.0,Camera,700,2022-03-30,2
6,6,Susan Lee,36.0,NaN,250,2022-02-05,3
7,7,Jennifer Clark,42.0,NaN,250,2022-08-25,NaN
8,8,Michael Brown,40.0,Speakers,150,2022-04-15,NaN
9,9,Barbara Jones,25.0,Headphones,100,2022-11-14,NaN
10,10,Sarah Johnson,NaN,Laptop,800,2022-03-15,3
11,11,Maria Lewis,30.0,Speakers,150,2022-08-26,3
12,12,Maria Lewis,48.0,Smartphone,600,2022-11-17,2
13,13,Robert Harris,41.0,Smartwatch,250,2022-09-02,NaN
14,14,Barbara Jones,45.0,Speakers,150,2022-04-02,2
15,15,Olivia Martin,49.0,Smartphone,600,2022-01-27,2
16,16,John Doe,40.0,E-reader,250,2022-09-06,1
17,17,Susan Lee,25.0,Smartphone,600,2022-02-13,2
18,18,Maria Lewis,44.0,Tablet,400,NaN,NaN
19,19,Susan Lee,44.0,Camera,700,2022-04-08,3

In [ ]:
df['Warranty'][df['Warranty'].isna()] = 0
df["Warranty"] = df["Warranty"].astype(int)
df

<ipython-input-72-71fa6c038850>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Warranty'][df['Warranty'].isna()] = 0

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
0,0,James Wilson,21.0,E-reader,250,2022-02-10,3
1,1,Margaret King,59.0,Camera,700,2022-03-22,0
2,2,David Walker,53.0,Laptop,800,2022-09-06,2
3,3,James Wilson,65.0,Camera,700,2022-02-22,2
4,4,Joseph Hall,63.0,Headphones,100,2022-12-14,0
5,5,Emily Davis,50.0,Camera,700,2022-03-30,2
6,6,Susan Lee,36.0,NaN,250,2022-02-05,3
7,7,Jennifer Clark,42.0,NaN,250,2022-08-25,0
8,8,Michael Brown,40.0,Speakers,150,2022-04-15,0
9,9,Barbara Jones,25.0,Headphones,100,2022-11-14,0
10,10,Sarah Johnson,NaN,Laptop,800,2022-03-15,3
11,11,Maria Lewis,30.0,Speakers,150,2022-08-26,3
12,12,Maria Lewis,48.0,Smartphone,600,2022-11-17,2
13,13,Robert Harris,41.0,Smartwatch,250,2022-09-02,0
14,14,Barbara Jones,45.0,Speakers,150,2022-04-02,2
15,15,Olivia Martin,49.0,Smartphone,600,2022-01-27,2
16,16,John Doe,40.0,E-reader,250,2022-09-06,1
17,17,Susan Lee,25.0,Smartphone,600,2022-02-13,2
18,18,Maria Lewis,44.0,Tablet,400,NaN,0
19,19,Susan Lee,44.0,Camera,700,2022-04-08,3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20 non-null     int64
 1   Name               20 non-null     object
 2   Age                19 non-null     float64
 3   Product Purchased  18 non-null     object
 4   Price              20 non-null     int64
 5   Date               19 non-null     object
 6   Warranty           20 non-null     int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.2+ KB

In [ ]:
import numpy as np
df.Price[df['Name'] == 'John Doe'] = np.nan

<ipython-input-109-ba34e88dd53a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[df['Name'] == 'John Doe'] = np.nan

In [ ]:
df

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
0,0,James Wilson,21.0,E-reader,250.0,2022-02-10,3
1,1,Margaret King,59.0,Camera,700.0,2022-03-22,0
2,2,David Walker,53.0,Laptop,800.0,2022-09-06,2
3,3,James Wilson,65.0,Camera,700.0,2022-02-22,2
4,4,Joseph Hall,63.0,Headphones,100.0,2022-12-14,0
5,5,Emily Davis,50.0,Camera,700.0,2022-03-30,2
6,6,Susan Lee,36.0,NaN,250.0,2022-02-05,3
7,7,Jennifer Clark,42.0,NaN,250.0,2022-08-25,0
8,8,Michael Brown,40.0,Speakers,150.0,2022-04-15,0
9,9,Barbara Jones,25.0,Headphones,100.0,2022-11-14,0
10,10,Sarah Johnson,NaN,Laptop,800.0,2022-03-15,3
11,11,Maria Lewis,30.0,Speakers,150.0,2022-08-26,3
12,12,Maria Lewis,48.0,Smartphone,600.0,2022-11-17,2
13,13,Robert Harris,41.0,Smartwatch,250.0,2022-09-02,0
14,14,Barbara Jones,45.0,Speakers,150.0,2022-04-02,2
15,15,Olivia Martin,49.0,Smartphone,600.0,2022-01-27,2
16,16,John Doe,40.0,E-reader,NaN,2022-09-06,1
17,17,Susan Lee,25.0,Smartphone,600.0,2022-02-13,2
18,18,Maria Lewis,44.0,Tablet,400.0,NaN,0
19,19,Susan Lee,44.0,Camera,700.0,2022-04-08,3

In [ ]:
df[df['Product Purchased'] == 'E-reader']

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty,Product Purchaesd
0,0,James Wilson,21.0,E-reader,250.0,2022-02-10,3,E-reader
16,16,John Doe,40.0,E-reader,NaN,2022-09-06,1,E-reader

In [ ]:
df.drop('Product Purchaesd', axis=1, inplace=True)

In [ ]:
df[df['Product Purchased'] == 'E-reader']

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
0,0,James Wilson,21.0,E-reader,250.0,2022-02-10,3
16,16,John Doe,40.0,E-reader,NaN,2022-09-06,1

In [ ]:
df['Price'].loc[16] = 250

<ipython-input-111-1d9e12b09990>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'].loc[16] = 250

In [ ]:
df

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
0,0,James Wilson,21.0,E-reader,250.0,2022-02-10,3
1,1,Margaret King,59.0,Camera,700.0,2022-03-22,0
2,2,David Walker,53.0,Laptop,800.0,2022-09-06,2
3,3,James Wilson,65.0,Camera,700.0,2022-02-22,2
4,4,Joseph Hall,63.0,Headphones,100.0,2022-12-14,0
5,5,Emily Davis,50.0,Camera,700.0,2022-03-30,2
6,6,Susan Lee,36.0,NaN,250.0,2022-02-05,3
7,7,Jennifer Clark,42.0,NaN,250.0,2022-08-25,0
8,8,Michael Brown,40.0,Speakers,150.0,2022-04-15,0
9,9,Barbara Jones,25.0,Headphones,100.0,2022-11-14,0
10,10,Sarah Johnson,NaN,Laptop,800.0,2022-03-15,3
11,11,Maria Lewis,30.0,Speakers,150.0,2022-08-26,3
12,12,Maria Lewis,48.0,Smartphone,600.0,2022-11-17,2
13,13,Robert Harris,41.0,Smartwatch,250.0,2022-09-02,0
14,14,Barbara Jones,45.0,Speakers,150.0,2022-04-02,2
15,15,Olivia Martin,49.0,Smartphone,600.0,2022-01-27,2
16,16,John Doe,40.0,E-reader,250.0,2022-09-06,1
17,17,Susan Lee,25.0,Smartphone,600.0,2022-02-13,2
18,18,Maria Lewis,44.0,Tablet,400.0,NaN,0
19,19,Susan Lee,44.0,Camera,700.0,2022-04-08,3

In [ ]:
df[df['Name'] == 'Sarah Johnson']

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
10,10,Sarah Johnson,NaN,Laptop,800.0,2022-03-15,3

We dont have another purchaces of this customer, so we will assign an average age

In [ ]:
df['Age'].loc[10] = df['Age'].mean().astype(int)

<ipython-input-122-f3fc7f5e61f5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'].loc[10] = df['Age'].mean().astype(int)

In [ ]:
df

,Unnamed: 0,Name,Age,Product Purchased,Price,Date,Warranty
0,0,James Wilson,21.0,E-reader,250.0,2022-02-10,3
1,1,Margaret King,59.0,Camera,700.0,2022-03-22,0
2,2,David Walker,53.0,Laptop,800.0,2022-09-06,2
3,3,James Wilson,65.0,Camera,700.0,2022-02-22,2
4,4,Joseph Hall,63.0,Headphones,100.0,2022-12-14,0
5,5,Emily Davis,50.0,Camera,700.0,2022-03-30,2
6,6,Susan Lee,36.0,NaN,250.0,2022-02-05,3
7,7,Jennifer Clark,42.0,NaN,250.0,2022-08-25,0
8,8,Michael Brown,40.0,Speakers,150.0,2022-04-15,0
9,9,Barbara Jones,25.0,Headphones,100.0,2022-11-14,0
10,10,Sarah Johnson,43.0,Laptop,800.0,2022-03-15,3
11,11,Maria Lewis,30.0,Speakers,150.0,2022-08-26,3
12,12,Maria Lewis,48.0,Smartphone,600.0,2022-11-17,2
13,13,Robert Harris,41.0,Smartwatch,250.0,2022-09-02,0
14,14,Barbara Jones,45.0,Speakers,150.0,2022-04-02,2
15,15,Olivia Martin,49.0,Smartphone,600.0,2022-01-27,2
16,16,John Doe,40.0,E-reader,250.0,2022-09-06,1
17,17,Susan Lee,25.0,Smartphone,600.0,2022-02-13,2
18,18,Maria Lewis,44.0,Tablet,400.0,NaN,0
19,19,Susan Lee,44.0,Camera,700.0,2022-04-08,3

**🌟 Exercise 1: Duplicate Detection And Removal**

In [1]:
import pandas as pd

In [25]:
df = pd.read_csv('tested.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df[df.duplicated()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [ ]:
We dont have duplicated data

** Exercise 2: Handling Missing Values**

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

We have missed vaules in "Age", "Fare", "Cabin"

In [27]:
df[df['Age'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
29,921,0,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
33,925,1,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
36,928,1,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
408,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
410,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [28]:
df['Age'].mean()

30.272590361445783

In [29]:
 df['Age'] = df['Age'].fillna(30)

In [31]:
df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,30.0,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S

In [7]:
df[df['Cabin'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [54]:
 df['Cabin'] = df['Cabin'].fillna('NoCabin')

In [20]:
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NoCabin,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NoCabin,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NoCabin,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NoCabin,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NoCabin,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NoCabin,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NoCabin,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NoCabin,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NoCabin,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NoCabin,S
10,902,0,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NoCabin,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NoCabin,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NoCabin,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NoCabin,C
16,908,0,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NoCabin,Q
17,909,0,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NoCabin,C
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NoCabin,S
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NoCabin,C

In [33]:
df[df['Fare'].isna()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,1044,0,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [34]:
df[df['Ticket'] == 3701]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

We dont have another passengers from ticket 3701.
We can replace missed fare with an average fare for 3 class

In [37]:
df[df['Pclass'] == 3]['Fare'].mean()

12.459677880184334

In [51]:
df.loc[152,'Fare'] = 12.46

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          418 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         418 non-null    float64
 10  Cabin        418 non-null    object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

Exercise 3: Feature Engineering

- Create new features, such as ‘Family Size’ from ‘SibSp’ and ‘Parch’, and ‘Title’ extracted from the ‘Name’ column.
- Convert categorical variables into numerical form using techniques like one-hot encoding or label encoding.
- Normalize or standardize numerical features if required.

Hint: Utilize Pandas for data manipulation and scikit-learn’s preprocessing module for encoding.

In [59]:
df["Family Size"] = df['SibSp'] + df['Parch']

In [60]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family Size
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NoCabin,Q,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NoCabin,S,1
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NoCabin,Q,0
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NoCabin,S,0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NoCabin,S,2
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NoCabin,S,0
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NoCabin,Q,0
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NoCabin,S,2
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NoCabin,C,0
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NoCabin,S,2

In [77]:
df["Title"] = df['Name'].str.extract('(Mrs.|Mr.|Miss.|Master.|Col.|Ms.|Rev.|Dr.|Dona.)')

In [78]:
df.head(15)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family Size,Title
0,Mr.,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NoCabin,Q,0,Mr.
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NoCabin,S,1,Mrs.
2,Mr.,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NoCabin,Q,0,Mr.
3,Mr.,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NoCabin,S,0,Mr.
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NoCabin,S,2,Mrs.
5,Mr.,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NoCabin,S,0,Mr.
6,NaN,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NoCabin,Q,0,Miss.
7,Mr.,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NoCabin,S,2,Mr.
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NoCabin,C,0,Mrs.
9,Mr.,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NoCabin,S,2,Mr.
10,Mr.,0,3,"Ilieff, Mr. Ylio",male,30.0,0,0,349220,7.8958,NoCabin,S,0,Mr.
11,Mr.,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NoCabin,S,0,Mr.
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,1,Mrs.
13,Mr.,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NoCabin,S,1,Mr.
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,1,Mrs.

In [79]:
df[df['Title'].isna()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Family Size, Title]
Index: []

Changing "Embarked" from string to numeric

In [82]:
df['Embarked'].unique()

array(['Q', 'S', 'C'], dtype=object)

In [88]:
newdf = df.replace('Q', 1)
newdf = newdf.replace('S', 2)
newdf = newdf.replace('C', 3)
newdf.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family Size,Title
208,NaN,1,1,"Rosenbaum, Miss. Edith Louise",female,33.0,0,0,PC 17613,27.7208,A11,3,0,Miss.
234,Mr.,0,1,"Cumings, Mr. John Bradley",male,39.0,1,0,PC 17599,71.2833,C85,3,1,Mr.
216,NaN,1,3,"Mahon, Miss. Bridget Delia",female,30.0,0,0,330924,7.8792,NoCabin,1,0,Miss.
266,Mr.,0,1,"Chisholm, Mr. Roderick Robert Crispin",male,30.0,0,0,112051,0.0000,NoCabin,2,0,Mr.
163,Mr.,0,3,"Pearce, Mr. Ernest",male,30.0,0,0,343271,7.0000,NoCabin,2,0,Mr.
278,Mr.,0,2,"Ware, Mr. John James",male,30.0,1,0,CA 31352,21.0000,NoCabin,2,1,Mr.
161,NaN,0,3,"Touma, Master. Georges Youssef",male,7.0,1,1,2650,15.2458,NoCabin,3,2,Master.
135,Mr.,0,3,"Carlsson, Mr. Carl Robert",male,24.0,0,0,350409,7.8542,NoCabin,2,0,Mr.
390,Mr.,0,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,2,0,Mr.
2,Mr.,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NoCabin,1,0,Mr.

Changing 'Survived' colomn for boolean type

In [92]:
newdf1 = newdf.replace({0: False, 1: True})

In [93]:
newdf1.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family Size,Title
278,Mr.,False,2,"Ware, Mr. John James",male,30.0,True,False,CA 31352,21.0,NoCabin,2,True,Mr.
379,NaN,False,3,"Asplund, Master. Carl Edgar",male,5.0,4,2,347077,31.3875,NoCabin,2,6,Master.
297,Mr.,False,3,"Samaan, Mr. Hanna",male,30.0,2,False,2662,21.6792,NoCabin,3,2,Mr.
61,Mr.,False,2,"McCrae, Mr. Arthur Gordon",male,32.0,False,False,237216,13.5,NoCabin,2,False,Mr.
197,NaN,True,3,"Nilsson, Miss. Berta Olivia",female,18.0,False,False,347066,7.775,NoCabin,2,False,Miss.
126,Mr.,False,3,"Brobeck, Mr. Karl Rudolf",male,22.0,False,False,350045,7.7958,NoCabin,2,False,Mr.
48,940,True,True,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,False,False,11813,76.2917,D15,3,False,Mrs.
153,1045,True,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.0,False,2,350405,12.1833,NoCabin,2,2,Mrs.
167,Mr.,False,3,"Ford, Mr. Edward Watson",male,18.0,2,2,W./C. 6608,34.375,NoCabin,2,4,Mr.
237,Mr.,False,3,"Baccos, Mr. Raffull",male,20.0,False,False,2679,7.225,NoCabin,3,False,Mr.